In [1]:
import pandas as pd
import numpy as np

In [2]:
#1 
df = pd.read_csv('/Users/Srikar/desktop/unclean_data.csv')

In [3]:
#2
#a.1
df.head(10)

    Time         Date  Pulse_rate  Maxpulse  Calories
0   60.0  2020/12/01'       110.0     130.0     409.1
1   45.0  2020/12/04'       109.0     175.0       NaN
2   45.0  2020/12/05'       117.0     148.0     406.0
3   60.0  2020/12/06'       102.0     127.0     300.0
4    NaN  2020/12/07'       110.0     136.0     374.0
5  450.0  2020/12/08'       104.0     134.0     253.3
6   60.0  2020/12/12'       100.0     120.0     250.7
7   60.0  2020/12/12'       100.0     120.0     250.7
8   60.0  2020/12/13'       106.0     128.0     345.3
9   60.0  2020/12/14'       104.0       NaN     379.3

In [4]:
#a.2
df.tail(10)

    Time         Date  Pulse_rate  Maxpulse  Calories
11  60.0  2020/12/19'       103.0     123.0     323.0
12  45.0  2020/12/20'        97.0     125.0     243.0
13  60.0  2020/12/21'       108.0     131.0     364.2
14  45.0          NaN       100.0     119.0     282.0
15  60.0  2020/12/23'       130.0     101.0       NaN
16  45.0  2020/12/24'         NaN     132.0     246.0
17  60.0     20201110       103.0     132.0       NaN
18  60.0  2020/12/29'       100.0     132.0     280.0
19  60.0  2020/12/30'       102.0     129.0     380.3
20  60.0  2020/12/31'        92.0     115.0     243.0

In [5]:
#b
df.info

<bound method DataFrame.info of      Time         Date  Pulse_rate  Maxpulse  Calories
0    60.0  2020/12/01'       110.0     130.0     409.1
1    45.0  2020/12/04'       109.0     175.0       NaN
2    45.0  2020/12/05'       117.0     148.0     406.0
3    60.0  2020/12/06'       102.0     127.0     300.0
4     NaN  2020/12/07'       110.0     136.0     374.0
5   450.0  2020/12/08'       104.0     134.0     253.3
6    60.0  2020/12/12'       100.0     120.0     250.7
7    60.0  2020/12/12'       100.0     120.0     250.7
8    60.0  2020/12/13'       106.0     128.0     345.3
9    60.0  2020/12/14'       104.0       NaN     379.3
10   45.0  2020/12/18'        90.0     112.0       NaN
11   60.0  2020/12/19'       103.0     123.0     323.0
12   45.0  2020/12/20'        97.0     125.0     243.0
13   60.0  2020/12/21'       108.0     131.0     364.2
14   45.0          NaN       100.0     119.0     282.0
15   60.0  2020/12/23'       130.0     101.0       NaN
16   45.0  2020/12/24'         NaN     132.0     246.0
17   60.0     20201110       103.0     132.0       NaN
18   60.0  2020/12/29'       100.0     132.0     280.0
19   60.0  2020/12/30'       102.0     129.0     380.3
20   60.0  2020/12/31'        92.0     115.0     243.0>

In [6]:
df.columns

Index(['Time', 'Date', 'Pulse_rate', 'Maxpulse', 'Calories'], dtype='object')

In [7]:
#d 
print(df.isnull().sum())

Time          1
Date          1
Pulse_rate    1
Maxpulse      1
Calories      4
dtype: int64

In [8]:
#e 
df.drop_duplicates()

     Time         Date  Pulse_rate  Maxpulse  Calories
0    60.0  2020/12/01'       110.0     130.0     409.1
1    45.0  2020/12/04'       109.0     175.0       NaN
2    45.0  2020/12/05'       117.0     148.0     406.0
3    60.0  2020/12/06'       102.0     127.0     300.0
4     NaN  2020/12/07'       110.0     136.0     374.0
5   450.0  2020/12/08'       104.0     134.0     253.3
6    60.0  2020/12/12'       100.0     120.0     250.7
8    60.0  2020/12/13'       106.0     128.0     345.3
9    60.0  2020/12/14'       104.0       NaN     379.3
10   45.0  2020/12/18'        90.0     112.0       NaN
11   60.0  2020/12/19'       103.0     123.0     323.0
12   45.0  2020/12/20'        97.0     125.0     243.0
13   60.0  2020/12/21'       108.0     131.0     364.2
14   45.0          NaN       100.0     119.0     282.0
15   60.0  2020/12/23'       130.0     101.0       NaN
16   45.0  2020/12/24'         NaN     132.0     246.0
17   60.0     20201110       103.0     132.0       NaN
18   60.0  2020/12/29'       100.0     132.0     280.0
19   60.0  2020/12/30'       102.0     129.0     380.3
20   60.0  2020/12/31'        92.0     115.0     243.0

In [9]:
#f 
df = df.dropna()
df

     Time         Date  Pulse_rate  Maxpulse  Calories
0    60.0  2020/12/01'       110.0     130.0     409.1
2    45.0  2020/12/05'       117.0     148.0     406.0
3    60.0  2020/12/06'       102.0     127.0     300.0
5   450.0  2020/12/08'       104.0     134.0     253.3
6    60.0  2020/12/12'       100.0     120.0     250.7
7    60.0  2020/12/12'       100.0     120.0     250.7
8    60.0  2020/12/13'       106.0     128.0     345.3
11   60.0  2020/12/19'       103.0     123.0     323.0
12   45.0  2020/12/20'        97.0     125.0     243.0
13   60.0  2020/12/21'       108.0     131.0     364.2
18   60.0  2020/12/29'       100.0     132.0     280.0
19   60.0  2020/12/30'       102.0     129.0     380.3
20   60.0  2020/12/31'        92.0     115.0     243.0

In [10]:
#3
#a
df['date_format'] = pd.to_datetime(df['Date'],errors='coerce')
df['date_format']

<ipython-input-10-767569f8b396>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date_format'] = pd.to_datetime(df['Date'],errors='coerce')

0    2020-12-01
2    2020-12-05
3    2020-12-06
5    2020-12-08
6    2020-12-12
7    2020-12-12
8    2020-12-13
11   2020-12-19
12   2020-12-20
13   2020-12-21
18   2020-12-29
19   2020-12-30
20   2020-12-31
Name: date_format, dtype: datetime64[ns]

In [11]:
#3
#b
maxVal = 120
df['Time'] = df['Time'].where(df['Time'] <= maxVal, maxVal)
df

<ipython-input-11-f95d9fbeeaaa>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Time'] = df['Time'].where(df['Time'] <= maxVal, maxVal)

     Time         Date  Pulse_rate  Maxpulse  Calories date_format
0    60.0  2020/12/01'       110.0     130.0     409.1  2020-12-01
2    45.0  2020/12/05'       117.0     148.0     406.0  2020-12-05
3    60.0  2020/12/06'       102.0     127.0     300.0  2020-12-06
5   120.0  2020/12/08'       104.0     134.0     253.3  2020-12-08
6    60.0  2020/12/12'       100.0     120.0     250.7  2020-12-12
7    60.0  2020/12/12'       100.0     120.0     250.7  2020-12-12
8    60.0  2020/12/13'       106.0     128.0     345.3  2020-12-13
11   60.0  2020/12/19'       103.0     123.0     323.0  2020-12-19
12   45.0  2020/12/20'        97.0     125.0     243.0  2020-12-20
13   60.0  2020/12/21'       108.0     131.0     364.2  2020-12-21
18   60.0  2020/12/29'       100.0     132.0     280.0  2020-12-29
19   60.0  2020/12/30'       102.0     129.0     380.3  2020-12-30
20   60.0  2020/12/31'        92.0     115.0     243.0  2020-12-31

In [12]:
#c
duplicate = df[df.duplicated()]
duplicate

   Time         Date  Pulse_rate  Maxpulse  Calories date_format
7  60.0  2020/12/12'       100.0     120.0     250.7  2020-12-12

In [13]:
#4
correlation=df.corr()
correlation

                Time  Pulse_rate  Maxpulse  Calories
Time        1.000000   -0.047457  0.061513 -0.279145
Pulse_rate -0.047457    1.000000  0.840550  0.816059
Maxpulse    0.061513    0.840550  1.000000  0.620313
Calories   -0.279145    0.816059  0.620313  1.000000

In [14]:
#5
n = len(df)
temp_df = df.head(n//2)
temp_df

    Time         Date  Pulse_rate  Maxpulse  Calories date_format
0   60.0  2020/12/01'       110.0     130.0     409.1  2020-12-01
2   45.0  2020/12/05'       117.0     148.0     406.0  2020-12-05
3   60.0  2020/12/06'       102.0     127.0     300.0  2020-12-06
5  120.0  2020/12/08'       104.0     134.0     253.3  2020-12-08
6   60.0  2020/12/12'       100.0     120.0     250.7  2020-12-12
7   60.0  2020/12/12'       100.0     120.0     250.7  2020-12-12

In [15]:
temp_df.mean()

Time           67.500000
Pulse_rate    105.500000
Maxpulse      129.833333
Calories      311.633333
dtype: float64

In [16]:
temp_df.std()

Time          26.410225
Pulse_rate     6.745369
Maxpulse      10.476959
Calories      76.640294
dtype: float64

In [17]:
temp_df.min()

Time                            45
Date                   2020/12/01'
Pulse_rate                     100
Maxpulse                       120
Calories                     250.7
date_format    2020-12-01 00:00:00
dtype: object

In [18]:
temp_df.max()

Time                           120
Date                   2020/12/12'
Pulse_rate                     117
Maxpulse                       148
Calories                     409.1
date_format    2020-12-12 00:00:00
dtype: object